<div class="container">
  <ul class="reset todo-lists">
    <li
      class="clicky todo-lists__item"
      *ngFor="let todoList of _data.todoLists"
      [ngClass]="{ 'todo-lists__item--completed': todoList.completed }"
      [routerLink]="todoList.title"
    >
        {{ todoList.title }} <br />
        <ng-template [ngIf]="todoList.todos.length > 0" [ngIfElse]="none">
          {{ todoList.todos.length }} todos to do
        </ng-template>
        <ng-template #none>
          0 todos
        </ng-template>
    </li>
  </ul>

  <form class="mt-3" (ngSubmit)="addTodoList(todoListInput.value)" novalidate>
    <input
      #todoListInput
      class="todo-list-input"
      type="text"
      placeholder="New todo-list"
      required
    />
  </form>
</div>
